# fly.toml app configuration file generated for nhlstats-v2-api on 2023-12-20T22:00:52-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "nhlstats-v2-api"
primary_region = "yyz"
console_command = "php /var/www/html/artisan tinker"

[build]
  [build.args]
    PHP_VERSION = '8.4'

[env]
  APP_DEBUG = 'false'
  APP_ENV = 'production'
  DB_DATABASE = 'nhlstats'
  DB_HOST = 'nhlstats-v2-mysql.internal'
  DB_USERNAME = 'nhlstats'
  LOG_CHANNEL = 'stderr'
  LOG_LEVEL = 'info'
  LOG_STDERR_FORMATTER = 'Monolog\Formatter\JsonFormatter'
  SESSION_DRIVER = 'cookie'
  SESSION_SECURE_COOKIE = 'true'

[processes]
  app = ''
  cron = 'cron -f'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
  processes = ['cron']
